@import "../../index.scss";
@import "../../styles/index.scss";

.step {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 3fr 1fr;
  box-sizing: border-box;

  @media screen and (max-width: 768px) {
    grid-template-columns: 1fr;
  }

  .darken {
    min-height: 100vh;
    background-color: rgba($color: #000000, $alpha: 0.9);
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;

    h1 {
      text-transform: uppercase;
      max-width: 70%;
      letter-spacing: 0.2rem;
      font-family: Montserrat;
      margin: 0;
      font-weight: normal;
      padding: 2rem;
      font-size: 5rem;

      @media screen and (max-width: 768px) {
        font-size: 3rem;
      }
    }
  }

  .wall {
    background-size: cover;
  }

  .width {
    width: 100%;
  }

  .container {
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    background-color: map-get($colors, bg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    padding: 2rem;

    h1 {
      text-align: center;
      font-family: Montserrat;
      text-transform: uppercase;
      font-weight: normal;
    }

    label {
      display: block;
      font-size: 1.2rem;
    }

    textarea {
      font-family: "Open Sans";
      box-sizing: border-box;
      font-size: 1.5rem;
      border: none;
      outline: none;
      background-color: #2f424d;
      color: #fff;
      width: 100%;
      padding: 0.5rem;

      &:focus {
        outline: 3px solid map-get($colors, primary);
        background-color: #0f4c75;
      }
    }

    form {
      box-sizing: border-box;
      width: 100%;
    }
    .btn {
      margin-top: 2rem;
      width: 100%;
    }
  }
}
