@import "../../index.scss";
@import "../../styles/index.scss";

.screen {
  box-sizing: border-box;
  color: #fff;
  padding-bottom: 2rem;

  h1 {
    font-size: 2rem;
    font-weight: normal;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1rem;
    row-gap: 1rem;
  }

  .newFeatureBtn {
    width: 100%;
    box-sizing: border-box;
    padding: 2rem;
    height: 200px;
    font-size: 2rem;
    background-color: inherit;
    border: 2px dashed #fff;
    outline: none;
    color: #fff;
    font-family: "Montserrat";
    font-weight: bold;
  }

  .task {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    height: 200px;
    font-size: 2rem;
    background-color: map-get($colors, primary);
    outline: none;
    color: #fff;
    font-family: "Montserrat";
    font-weight: bold;
  }
}
